body {
  margin: 0;
  font-family: Arial;
  height: 100vh;
  overflow: hidden;
}

#map {
  height: 55vh;
}

#ui {
  height: 45vh;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
}

#topbar {
  padding: 6px;
  background: #1c1c1c;
  font-size: 13px;
}

#content {
  display: flex;
  flex: 1;
}

#queue {
  width: 40%;
  overflow-y: auto;
  background: #151515;
}

.train {
  padding: 8px;
  margin: 5px;
  background: #222;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.dot {
  width: 8px;
  height: 8px;
  background: limegreen;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

#detail {
  flex: 1;
  padding: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

.bar {
  height: 6px;
  background: #333;
  margin: 5px 0;
  border-radius: 5px;
}

.bar > div {
  height: 100%;
  width: 0%;
  background: limegreen;
}